<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extrair Relatório</title>
</head>
<body>
    <h1>Extrair Relatório</h1>
    <form method="POST">
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <label for="collection_name">Nome da Coleção:</label>
        <input type="text" name="collection_name" id="collection_name" required>
        <br>
        <button type="submit">Baixar Relatório CSV</button>
    </form>
</body>
</html>
